<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({

        // gitalk的主要参数
        clientID: '04caf9d3b849a4b99e75',
        clientSecret: 'fbafb8569ebff6ac24e791dc0b87ed667e80829f',
        repo: 'blogtalk',
        owner: 'HunterJerry',
        admin: ['HunterJerry'],
        id: decodeURI(window.location.pathname),
    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
